POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_DB=axon
POSTGRES_USER=axon
POSTGRES_PASSWORD=CHANGEME

KEYCLOAK_HOST=keycloak
KEYCLOAK_HTTP_PORT=7080
KEYCLOAK_HTTPS_PORT=7433
KEYCLOAK_ADMIN_PASSWORD=CHANGEME
KEYCLOAK_SCHEMA=keycloak

MIGRATIONS_PATH="/migrations"

SERVER_PORT=8000
SERVER_CERT_PATH="/etc/axon/server/server.crt.pem"
SERVER_KEY_PATH="/etc/axon/server/server.key.pem"
SERVER_JWKS_URLS="http://keycloak:7080/realms/master/protocol/openid-connect/certs"
SERVER_POLICY_PATH="/etc/axon/server/policy.rego"

TEMPORAL_HOST=temporal
TEMPORAL_PORT=7233
TEMPORAL_UI_HOST=temporal-ui
TEMPORAL_UI_PORT=8080
